<div class="row-fluid">	
	<% @profiles.each do |profile| %>
		<div class="span3 well text-center">	
			<div class="profile_image">
				<%= image_tag profile.pict_url %>				
			</div>
			<h4> <%= profile.name %> </h4>
			<hr> 
			<p> <%= profile.bio %> </p>
		</div>
	<% end %> 
</div>


