<<<<<<< Updated upstream
entities
	users
		-> Profile
			-> Name
			-> Shipping Address
			-> Bio
			-> Picture
			-> geo_location
			-> total_cash
		-> Donations
			
			-> 
		-> Type (Admin/Beneficiaries)

retail_items
	-> item Number
	-> picture url
	-> price
	-> 
=======
<div class="welcome_container"></div>
>>>>>>> Stashed changes
