<div class="row-fluid">
	<div class="span12 well text-center">
		<h1> Make the Donation</h1>

	</div>
</div>
<div class="row-fluid">
	<div class="span6 well text-center">
		<p class="text-left"> 
Thanks for using HelpingScans! This was a group collaboration started from an idea at the StartUpWeekend St. Louis! For the event competition we linked our donation button to the St. Johns Episcopal Church.  St. Johns was instrumental in helping us research, validate our assumptions, and guide our venture.  They truly brought insight to our project.  As a thanks for their help and support, any donations will go to St. Johns Episicopal Church in Tower Grove St. Louis.  We greatly appreciate your support for the church and the HelpingScans team. 
		</p>
		<br /> 
		<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
			<input type="hidden" name="cmd" value="_s-xclick">
			<input type="hidden" name="hosted_button_id" value="HJ4QC9WMGSDMU">
			<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
			<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
		</form>				
	</div>
	<div class="span6 well">
		<iframe width="100%" height="315" src="//www.youtube.com/embed/61gqm72LVa4" frameborder="0" allowfullscreen></iframe>
	</div>

</div>>
