<div class="row-fluid">
	<div class="span4">
		<h1>Helping Scans</h1>
		<article>
			<p><h4>We are Helping Scans.  We are revolutionizing the social giving space by offering an easy, frictionless way of giving to the less fortunate.</h4></p>
			<p>We are a product of Startup Weekend in St. Louis, and we hope to make an impact on the world with our product.  We are changing the way that the panhandlers tradtionally request dontations.  They are now able to create an account with an accompanying profile picture, story, and donate button. </p>
			<p>Our technology helps both the person donating as well the the person requesting the donation.  The person can choose to donate on their own time, and avoid the awkward determination during the initial solicitation.</p>
			<p><%= image_tag('Mobile_functionality.png')  %></p>
		</article>
	</div>
</div>
