// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body, html, form {
	padding:0;
}
#profile_photo {
	width:100%;

}
#container {
	max-width:1024px;
	margin:auto;
	padding:0px;
	padding:10px;
	border: 2px solid #000;
	background: rgba(0, 0, 0, 0.8);
	border-radius: 15px;
}

.profile_image {
	width:100%;
}

.profile_image img {
	width:100%;
	border-radius: 5px;
}

.well { 
	padding: 10px;
	background: #fff;
}
h4 {
	margin:0 0 5px 0 ;
	padding: 0px;

}
hr {
	border-bottom:1px solid #333;
	margin: 0;
	padding: 0;
}