// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body, html, form {
	padding:0;
	max-width: 100%;
}
#profile_photo {
	width:100%;

}
p {
	font-size: 10pt;
}

#container {
	max-width:860px;
	width:100%;
	display:block;
	margin: auto;
	padding:10px;
	border: 2px solid #000;
	background: rgba(0, 0, 0, 0.8);
	border-radius: 15px;
	z-index: 2;
}
/* 		position: absolute; left: 50%;
        <div style="position: relative; left: -50%;
 */
 
.profile_image {
	width:100%;
	border-radius: 5px;
	height:150px;
	background-size: cover;
	background-position:center; 
	background-repeat: no-repeat;				
}

.well { 
	padding: 10px;
	background: #fff;
}
h4 {
	margin:5px 0 5px 0 ;
	padding: 0px;

}
hr {
	border-bottom:1px solid #333;
	margin: 0;
	padding: 0;
}
